

header{

  background-color: #5f6d7e;
  .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px;

    &-image{
      height: 150px;
      width: 150px;
      border: 4px solid white;
      border-radius: 75px;

      overflow: hidden;
    }

    h1, p{
      color: $white;
    }

    h1{
      margin: 0 0 5px 0;
    }

    p{
      font-size: rem(18);
      margin: 0;
    }
  }

}

