
.nav-principale{

  .show-menu{
    display: block;
    text-align: center;
    color: $white;
    background-color: #555;

    padding: 10px 0;
  }

  .toggle-menu:checked + ul{
    display: block;
  }

  .toggle-menu{
    display: none;
  }


  ul{
    margin: 0;
    padding: 0;

    display: none;

    a{
      color: $white;

      display: flex;
      align-items: center;

      padding: 15px 40px;

      &:hover{
        background-color: $color-link-hover;
      }

      &.active, &.active:hover{
        background-color: $color-link-active;
      }

      i{
        font-size: rem(24);
        margin-right: 15px;
      }
    }
  }
}
