//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 

$text-color: #777777;

$background-color: #ffffff;
$background-color-side-menu: #5f6d7e;

$color-titre-section: #555555;

$color-link: #ffffff;
$color-link-hover: darken($background-color-side-menu, 5%);
$color-link-active: darken($background-color-side-menu, 15%);

$white: white;