//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes

$font-size: rem(16);

/// Font family

$font-family: Roboto, Helvetica, Arial, sans-serif;
$line-height: 1.5;


/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
