//FONCTION POUR CALCUL DES REMS

@function rem($fz){
  @return( $fz / 16 )
}

//MIXIN POUR AJOUTER UNE FONT

@mixin font($family,$size: inherit,  $color: #000) {
  font-family: $family;
  color: $color;
  font-size: $size;
}